
* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: beige;
}

header {
    background-color: grey;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 32px;
}

.nav {
    background-color: grey;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.nav-links {
    color: white;
    marging: 0px 15px;
}

.container {
    color: grey
}

img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 30px auto;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
  }
  
  aside > p {
    margin: 0.5rem;
  }

  article {
    margin-top: 40px;
  }

.section-form {
    margin-top: 40px;
    background-color: grey;
    padding: 20px;
    text-align: center;

  }

#select-theme {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: right;
}

#table {
    margin-top: 40px;
    background-color: grey;
    padding: 20px;
    text-align: left;
    padding-left: 700px;
    padding-right: 700px;

}

.list {
    margin-top: 40px;

    padding: 20px;
    text-align: left;
    padding-left: 700px;
    padding-right: 700px;
}

footer{
    background-color: grey;
    text-align: center;
}
    